@layer defaults {
	body {
		background-color: rgb(196, 246, 255);
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vh;
	}

	.title {
		font-size: x-large;
		font-weight: bold;
		text-align: center;
		padding-bottom: 0.5rem;
	}

	.label {
		font-size: larger;
		text-align: center;
	}

	.smaller-label {
		font-size: medium;
		text-align: center;
	}

	.subtext {
		font-size: larger;
		font-style: italic;
		text-align: center;
	}

	.smaller-subtext {
		font-size: medium;
		font-style: italic;
		text-align: center;
	}

	sup {
		font-size: 50%;
		vertical-align: top;	
	}

	.narrow-rounded-box {
		padding: 0.5rem;
		border-radius: 1rem;
	}

	.rounded-box {
		padding: 1rem;
		border-radius: 1rem;
	}

	.about {
		padding: 1rem;
	}
}